html,body,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif;
    color: #5C1D06;
}

h1 {
  font-family: 'Grand Hotel', cursive;
  color: #C68335;
  font-size: 5em;
  line-height: 1.1;
  text-shadow: 1px 1px 4px #fafafa;
}
h2 {
  font-family: 'Grand Hotel', cursive;
  font-size: 4em;
  color: #C68335;
}
h3 {
  font-family: 'Grand Hotel', cursive;
  font-size: 2em;
  color: #C68335;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
}

Body {
    background-color: #F5F3E7;  
}

div { 
    text-align: center; 
}

ul { 
    display: inline-block; 
    text-align: left; 
    font-size: larger;
}

.sunny {
  border-radius: 15px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icons8 {
  border-radius: 25px;
  filter: drop-shadow(5px 5px 4px #C68335);
}

.w3-theme-d1 {
  color: #79b264 !important;background-color:#F5E5E2!important;
  border-radius: 50px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-theme-d2 {
  color: #5C1D06 !important;background-color:#E7CBA9!important;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 7px;
}

.banner {
  object-fit: cover;
}

.tableHeading {
  font-style: italic;
  color: #C68335;
  background-color: #F5EFDC;
}

.tableColor {
  background-color: #F5EFDC;
}

#priceColor {
  background-color: #F5EFDC;
}

#space {
    align-items:stretch; 
}

#Digory2 {
  font-family: 'Grand Hotel', cursive;
  font-size: 1em;
}

#wideLogo {
  border-radius: 10px;
}

#logo  {
    max-height: 100px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


.w3-top {
    background-color: #CCD4BF;
}

.w3-sidebar {
    background-color: #E7CBA9;
    max-width: 150px;
    color: #5C1D06
}

.bottomPiano {
  position : absolute;
  right: 0;
  bottom : 0;
  height : 40px;
}

@media only screen and (max-height: 550px) {
  .bottomPiano {
    display: none;
  }
}

footer {
    background-color: #F5EFDC;
    position : absolute;
    bottom : 0;
    height : 40px;

}

#myFootertwo {
    background-color: #CCD8D4;
}

/* Contact Us Page Only */
contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Josefin Sans", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: #F5F3E7;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #9dac84;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
    font-size: xx-small;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }